body {
  font-family: Helvetica, sans-serif;
  font-size: larger;
  color: black;
  background-color: #BCB69C;
  vertical-align: middle;
  text-align: left;
  margin-top: 5em;
  margin-bottom: 5em;
  margin-left: 10em;
  margin-right: 10em;
  line-height: 1.5em;
}

img#profile {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

h1, h2, h3 {
  font-family: "Verdana", sans-serif;
  text-align: left;
  color: DarkSlateGrey;
}

h1 {
  padding-bottom: 0.5em;
  border-bottom: solid;
}

address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: solid
}

a {
  color: MidnightBlue;
}

div#pub {
  clear: both;
}
